<div class="bodyContainer">
    <h2 class="bodyHeading">The web development framework for building the future</h2>
    <section class="bodyContent">
        <div class="content">
            <h3 class="content__heading">WORKS AT ANY SCALE</h3>
            <img class="content__img" src="assets/images/any-size.svg" alt="">
            <p class="bod-text">Angular lets you start small and supports you as your team and apps grow.</p>
            <a href="" class="anchor-links">Read how Angular helps you grow</a>
        </div>
        <div class="content">
            <h3 class="content__heading">LOVED BY MILLIONS</h3>
            <img class="content__img" src="assets/images/loved-by-millions.svg" alt="">
            <p class="bod-text">Join the millions of developers building with Angular in a thriving and friendly community.</p>
            <a href="" class="anchor-links">Meet the Angular community</a>
        </div>
        <div class="content">
            <h3 class="content__heading">BUILD FOR EVERYONE</h3>
            <img class="content__img" src="assets/images/build-for-everyone.svg" alt="">
            <p class="bod-text">Angular lets you start small and supports you as your team and apps grow.</p>
            <a  href="" class="anchor-links">Learn more about Angular's tools</a>
        </div>
    </section>
    <button class="heroBtn">
        learn more
    </button>
</div>