
<div>
    <h2 class="about__heading">angular contributors</h2>
    <div class="buildingForFuture">
        <h2>Building For The Future</h2>
        <p>
            Angular is built by a team of engineers who share a passion for making web development feel effortless. We believe that writing beautiful apps should be joyful and fun. We're building a platform for the future.
        </p>
        <div class="buttonsSection">
            <button>angular</button>
            <button>collaborators</button>
            <button>gde</button>
        </div>
    </div>
</div>