<footer>
    <section class="footerContent__section">
        <div class="footerContent__container">
            <div class="resources">
                <h2>resources</h2>
                <ul>
                    <li>About</li>
                    <li>Resource listing</li>
                    <li>Press kit</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="help">
                <h2>help</h2>
                <ul>
                    <li>Stack Overflow</li>
                    <li>Join Discord</li>
                    <li>Gitter</li>
                    <li>Report Issues</li>
                    <li>Code of Conduct</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="community">
                <h2>community</h2>
                <ul>
                    <li>Events</li>
                    <li>Meetups</li>
                    <li>Twitter</li>
                    <li>GitHub</li>
                    <li>Contribute</li>
                </ul>
            </div>
            <div class="languages">
                <h2>languages</h2>
                <ul>
                    <li>简体中文版</li>
                    <li>正體中文版</li>
                    <li>日本語版</li>
                    <li>한국어</li>
                    <li>Complete language list</li>
                </ul>
            </div>
        </div>
        <div class="footer__bottomContent">
            <h2>Super-powered by Google ©2010-2023.</h2>
            <h2>Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.</h2>
            <h2>Version 16.2.12-local+sha.38b4602f03.</h2>
        </div>
    </section>
</footer>