<header>
    <section class="bg-sky"></section>
    <div class="heroContainer">
        <section class="heroContent">
            <div class="imgSection">
                <img src="assets/images/angular.svg" alt="Angular" class="angularImg">
            </div>
            <div class="headingSection">
                <h2 class="heroHeading">Deliver web apps with confidence</h2>
                <a routerLink="/about" routerLinkActive="active"> <!-- Add a router link to the home page -->
                    <button class="heroBtn">
                        try angular
                    </button>    
                </a>
            </div>
        </section>
    </div>
</header>